body { margin : 0 auto; margin-bottom : 50px; width : 70%;}
body p, body li, td, th, address { font-family : Arial, Helvetica, sans-serif; line-height : 150%;}
h1,h2,h3 {font-family : Georgia, serif; font-weight : normal;}
h1 { color : #55aaaa; font-size : 40px; max-width : 350px;}

#intro {font-style:italic}

table { border-collapse: collapse; }
tr th {
    border-bottom : solid 2px #555;
}

tr td {
    border-bottom : solid 1px #aaa;
}

tr td, tr th {
    padding : 3px;
    vertical-align: top;
}

td:nth-child(1) { white-space: nowrap;}
td:nth-child(2) {font-weight : bold;}
td:nth-child(4) {font-style : italic;}
