@tailwind base;
@tailwind components;
@tailwind utilities;

/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Gg8nN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHYas-KLLgLsM.woff2) format('woff2');
	unicode-range:
		U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Gg8nN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHYas-KzLgA.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
		U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Gg8lN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHYanyK7ThA.woff2) format('woff2');
	unicode-range:
		U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Gg8lN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHYapyK4.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
		U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/Gg8gN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHY5a67vipYY1Fw.woff2) format('woff2');
	unicode-range:
		U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/Gg8gN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHY5a67vspYY.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
		U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/fonts/Gg8gN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHY527LvipYY1Fw.woff2) format('woff2');
	unicode-range:
		U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/fonts/Gg8gN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHY527LvspYY.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
		U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/Gg8gN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHY4S7bvipYY1Fw.woff2) format('woff2');
	unicode-range:
		U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/Gg8gN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHY4S7bvspYY.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
		U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/Gg8iN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHYas8BfulYotEyq5.woff2) format('woff2');
	unicode-range:
		U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/Gg8iN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHYas8BfulYQtEw.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
		U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Instrument Serif';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/instrument-serif/InstrumentSerif-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/instrument-sans/InstrumentSans-Regular.ttf) format('ttf');
}

@layer base {
	.notch-thic,
	.notch-right,
	.notch-left {
		@apply uppercase font-semibold leading-tight block border-b border-black w-full px-2;
		position: relative;
	}

	.notch-left * {
		@apply font-semibold uppercase leading-tight;
	}

	.notch-right::after {
		content: '';
		border-color: inherit;
		@apply absolute right-0 bottom-0 h-3 border-r;
	}

	.notch-left::after {
		content: '';
		border-color: inherit;
		@apply absolute left-0 bottom-0 h-3 border-l;
	}

	.notch-thic {
		@apply border-b-2;
	}

	.notch-thic.notch-right::after {
		@apply border-r-2;
	}

	.notch-thic.notch-left::after {
		@apply border-l-2;
	}

	.about-copy > div {
		@apply px-3 prose;
	}

	.about-copy dt {
		@apply font-bold uppercase;
	}
	.about-copy dd {
		@apply mb-2;
	}

	.time {
		@apply border-r mr-3 pr-3;
		border-color: #7f7f7f;
	}

	.filterbox {
		@apply flex flex-wrap gap-x-2;
		margin-bottom: -15px;
	}

	.filterbox label {
		border: solid 1px black;
		padding: 5px 10px;
	}

	.filterbox > *:hover {
		transition: ease-in-out 0.2s;
	}

	.filterbox label,
	.filterbox a {
		@apply text-sm;
	}

	.filterbox label:has(input:checked) {
		background: black;
		color: white;
	}

	input:checked + .toggle-bg:after {
		transform: translateX(80%);
	}

	figcaption {
		@apply text-sm !important;
	}

	figcaption .description:not(:empty) {
		border-left: solid 1px #aaa;
		padding-left: 10px;
		margin-left: 8px;
	}

	.accordion-header h3::before {
		content: '+ ';
	}

	.accordion-header.accordion-expanded h3::before {
		content: '– ';
	}

	.accordion-content > div {
		@apply px-3 py-5 space-y-3;
	}
}

.eventcardhost {
	@apply pb-5;
}

body.freegigs .guide-month:not(:has(.freegig)),
body.selectedonly .guide-month:not(:has(.selected)) {
	@apply hidden;
}
body.freegigs .day:not(:has(.freegig)),
body.selectedonly .day:not(:has(.selected)) {
	@apply hidden;
}
body.freegigs .guide-month > h3:not(:has(+ .day .freegig)),
body.selectedonly .guide-month > h3:not(:has(+ .day .eventcardhost .sharegig.selected)) {
	@apply hidden;
}
body.freegigs .eventcardhost:not(:is(.freegig)),
body.selectedonly .eventcardhost:has(.sharegig:not(:is(.selected))) {
	@apply hidden;
}

.eventcardhost .eventcard {
	@apply flex-1;
}

.eventcardhost .headliner {
	cursor: pointer;
}

.eventcardhost .headliner:hover {
}

.smn .bg-yellow-50:before {
	position: absolute;
	content: '';
	height: 51px;
	width: 25px;
	left: -26px;
	bottom: 0px;
	background-image: url(/canman-peek.png);
	background-repeat: no-repeat;
	background-size: contain;
}

/* feed divider experiment */

body.selectedonly .day:not(:has(.selected)) ~ .guide-divider,
body.selectedonly .day:not(:has(.selected)) ~ .storeplug {
	display: none;
}

.guide-divider,
.storeplug {
	@apply mb-5;
}

.guide-divider {
	@apply relative flex items-center;
}

.guide-divider div:first-child {
	@apply flex-grow border-t border-gray-400;
	position: relative;
}
.guide-divider div:first-child::before {
	position: absolute;
	content: '';
	width: 50px;
	height: 20px;
	top: -21px;
	right: 0;
	/*background-image: url(/canman-peek-horiz.png);
  background-size : contain;
  background-repeat : no-repeat;*/
}

.guide-divider span {
	@apply flex-shrink italic text-xs text-gray-600 px-3 max-w-[250px] sm:max-w-[100%];
	text-align: center;
}
.guide-divider span a {
	@apply underline;
}

.guide-divider div:last-child {
	@apply flex-grow border-t border-gray-400;
}

/* mm-mm-mm-mm-mm it's map time */
#gigmap {
	@apply bg-black h-screen w-screen text-white p-5 relative;
}
#gigmap .toolbar {
	@apply flex flex-col gap-4 z-10 absolute;
}
#gigmap .toolbar > div {
	@apply bg-ruby py-2 px-5 basis-1/3 rounded-lg transition-colors;
}
#gigmap .toolbar > div:hover {
	@apply bg-ruby/50;
}

#map-container {
	position: absolute;
	z-index: 0;
	@apply h-screen w-screen top-0 left-0;
}

.home-storelink {
	position: relative;
}

.venues {
	@apply space-y-3 pl-3 sm:columns-3;
}

.venues h4 {
	/*@apply break-after-column*/
}
.venues .venue {
	break-inside: avoid-column;
}
.venues .venue .gigcount {
	@apply font-normal;
	color: #aaa;
}

.venue a {
	@apply font-bold;
}
.venue a.rip {
	color: #aaa;
	font-weight: normal;
}
.venue .rip::after {
	content: '🕯️';
	margin-left: 5px;
}
.home-storelink::before {
	position: absolute;
	content: '';
	width: 60px;
	height: 30px;
	top: -29px;
	left: 30px;
	background-image: url(/canman-peek-horiz.png);
	background-size: contain;
	background-repeat: no-repeat;
}

/*header { @apply sticky top-0 py-3; background-color : rgba(255,255,255,0.8); z-index : 100; }*/

.guide-month > h3::before {
	content: '';
	background: white;
	height: 100%;
	width: 20px;
	position: absolute;
	margin-left: -20px;
}
.guide-month > h3 {
	@apply sticky top-0 z-40;
	background: white;
}

.accordion-content {
	transition:
		max-height 0.3s ease-out,
		padding 0.3s ease;
}

header nav .navbar {
	@apply flex justify-center lg:justify-end font-semibold w-full gap-x-1 sm:gap-x-3;
}

header nav .navbar .navbar-link {
	@apply uppercase border-b-2 border-transparent hover:border-ruby hover:text-ruby text-center whitespace-nowrap text-sm lg:text-lg px-2 py-1 sm:px-4 sm:py-3;
}

header nav .navbar .navbar-link-icon {
	@apply border-b-2 border-transparent hover:border-ruby hover:text-ruby text-center whitespace-nowrap text-sm lg:text-lg px-0 sm:px-1 py-0 sm:py-3 w-7 lg:w-9 h-auto hidden sm:block;
}

header nav .navbar .navbar-link-icon svg {
	@apply w-full h-auto;
}

header nav .navbar .navbar-link.current {
	@apply border-b-2 border-ruby;
}

header nav .navbar .support {
	@apply uppercase border-b-2 border-transparent hover:bg-ruby/90 hover:text-white text-center whitespace-nowrap text-sm lg:text-lg px-2 py-1 sm:px-4 sm:py-3 bg-ruby text-white;
}

header nav a span,
span.new {
	vertical-align: middle;
	margin-top: -2px;
	background: yellow;
	line-height: 100%;
	font-size: 11px;
	border-radius: 3px;
	padding: 2px;
}

/* venue page stuff */
.blurb p {
	@apply m-0 mb-2;
}
.blurb {
	@apply mb-8;
}

.bigtext {
	font-family: 'ITC Souvenir';
	color: black;
	@apply text-3xl md:text-5xl mt-0 mb-0;
}

body .prose {
	@apply text-black;
}

.feature-thisweek.prose {
	@apply max-w-[100%];
}

.feature-thisweek .links a {
	@apply px-2 whitespace-nowrap;
}

.blinddate-host {
	display: flex;
	align-items: center;
	justify-content: center;
}

.blinddate-plug {
	@apply border-l-2 border-r-2 px-8 my-3 border-ruby text-center p-3;
	border-radius: 20px;
	font-family: 'ITC Souvenir';
}

.blinddate-plug a {
	text-decoration: none;
	background-image: url("data:image/svg+xml;charset=utf8,<svg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'><path fill='none' stroke='%23f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/></svg>");
	background-position: 0 bottom;
	background-size: auto 3px;
	background-repeat: repeat-x;
	padding-bottom: 3px;
}

.blinddate-plug a:hover {
	background-image: url("data:image/svg+xml;charset=utf8,<svg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'><style type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style><path fill='none' stroke='%23f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/></svg>");
}

.yt-embed iframe {
	width: 100%;
	aspect-ratio: 16/9;
}

.lib-logo {
	@apply w-24 h-24;
	background-image: url(/canman-about@1x.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 6.8rem;
	border-radius: 100%;
	border: solid 2px black;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.link-in-bio.primary {
}

.link-in-bio.primary > div {
	@apply h-56 flex items-end;
	position: relative;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
	border: solid 4px black;
	background-size: cover;
	background-image: attr(data-bg);
}

.link-in-bio.primary .linkpanel {
}

.link-in-bio.primary .linkpanel .link {
	@apply text-xl;
	margin-bottom: 10px;
	line-height: 120%;
}

.link-in-bio.primary .linkpanel .link a {
	@apply text-xl;
	color: white;
	font-weight: bold;
}

.link-in-bio.primary .linkpanel .description {
	@apply text-sm text-white;
}

.link-in-bio.primary > div::before {
	width: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
	content: attr(data-idx);
	aspect-ratio: 1;
	background: black;
	color: white;
	padding-left: 5px;
	font-weight: bold;
	clip-path: polygon(100% 0, 0% 0%, 0% 100%);
}

.link-in-bio.primary > div > div {
	background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
}

.link-in-bio.secondary {
	@apply grid grid-cols-2 gap-5;
}

.link-in-bio.secondary div.title::before {
	content: '> ';
}

.link-in-bio div p {
	margin: 0;
}

.artists ul li {
	display: inline;
	list-style-position: inside;
}

.artists ul li::after {
	content: ' • ';
	font-weight: normal;
}
.artists ul li:last-child::after {
	content: '';
}

.artists ul li:nth-child(odd) {
	font-style: italic;
}

.artists ul li:nth-child(even) {
	font-weight: 600;
}

.eventcardhost .headliner {
	cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
	.eventcardhost:hover:has(.headliner:hover) .sharegig,
	.sharegig:hover {
		opacity: 1;
	}
}

.sharegig {
	opacity: 0.5;
}

.eventcardhost:has(.sharegig.selected) .headliner {
}

.sharegig.selected {
	opacity: 1;
	background-image: url(/shareability-selected.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top left;
}
.sharegig.selected img {
	opacity: 0;
}

#sharesheet {
	@apply p-3 flex flex-col items-center;
	background: #fffbeb;
	bottom: 20px;
	position: fixed;
	color: black;
	width: 90%;
	max-width: 400px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	z-index: 101;
	border: solid 1px black;
	box-shadow: 3px 3px 0px black;
}

#sharesheet .buttonpanel {
	@apply flex uppercase font-bold m-5 gap-x-2;
}

#sharesheet .buttonpanel > button {
	@apply uppercase border-2 border-black px-4 font-bold py-2 text-lg hover:border-ruby hover:text-ruby bg-white;
}

#shareprompt {
	@apply p-5 flex flex-row justify-center gap-x-2;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 101;
}

#shareprompt button {
	background: #fffbeb;
	color: black;
	border: black solid 1px;
	box-shadow: 3px 3px 0px rgb(0, 0, 0);
	@apply px-3 py-2 text-sm uppercase;
}

#shareprompt span {
	background: black;
	color: white;
	border-radius: 10px;
	padding: 2px 5px;
	margin-left: 6px;
}

#share-preview {
	overflow-y: scroll;
}

body.showsheet #sharesheet {
	display: flex;
}

body:not(.gotgigs) #shareprompt,
body.showsheet #shareprompt {
	display: none;
}

body.selectedonly .gigcolumn:not(:has(.sharegig.selected))::before {
	content: "You don't currently have any gigs selected. Select one or more checkboxes next to a gig to build your own list.";
	@apply text-sm italic border border-black bg-yellow-50 p-2 block;
}

@media (min-width: 1024px) {
	.hero-bg {
		background-image: url(/canman-homehero@2x.png);
		background-position: center right;
		background-size: cover;
	}
}

/* Support Popover */
.popover-trigger {
	display: none;
}

.popover-content {
	max-height: 0;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	overflow: hidden;
}

.popover-trigger:checked + .popover-label + .popover-content {
	max-height: 30rem;
	opacity: 1;
	pointer-events: auto;
	overflow: visible;
}
